{
    "presets":["next/babel"],  //Next.js的总配置文件，相当于继承了它本身的所有配置
    "plugins":[     //增加新的插件 babel-plugin-import，这个插件就是让antd可以按需引入，包括CSS(但是在build时报错了，就删去了css按需引入配置，在_app.js中一次性引入css)
        [
            "import",
            {
                "libraryName":"antd"
            }
        ]
    ]
}